@*@model IEnumerable<ParkingManagementSystem.Models.Reservation>*@
@model ReservationParkingspaceViewModel
<!-- use @Model.Reservations and @Model.ParkingSpaces to access the data -->
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/reservation-index.css"/>
@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpace.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<div class="seat-grid">
    <!-- parking lot area C -->
    <div class="row row__C">
        @foreach (var item in Model.ParkingSpaces.Take(12))
        {
            <div class="seat seat__C" id="@item.Id">@item.Location</div>
        }
        <div class="seat seat__C seat__Area">Area C</div>
    </div>
    <!-- parking lot area B -->
    <div class="row row__B">
        <div class="row">
            @foreach (var item in Model.ParkingSpaces.Where(p => p.Id >= 13 && p.Id <= 22))
            {
                <div class="seat seat__B" id="@item.Id">@item.Location</div>
            }
            <div class="seat seat__B seat__Area">Area B</div>
        </div>
        <div class="row">
            @foreach (var item in Model.ParkingSpaces.Where(p => p.Id >= 23 && p.Id <= 32))
            {
                <div class="seat seat__B" id="@item.Id">@item.Location</div>
            }
            <div class="seat seat__B seat__Area"></div>
        </div>
    </div>
    <!-- parking lot area A -->
    <div class="row row__A">
        <div class="row">
            @foreach (var item in Model.ParkingSpaces.Where(p => p.Id >= 33 && p.Id <= 42))
            {
                <div class="seat seat__A" id="@item.Id">@item.Location</div>
            }
            <div class="seat seat__A seat__Area">Area A</div>
        </div>
        <div class="row">
            @foreach (var item in Model.ParkingSpaces.Where(p => p.Id >= 43 && p.Id <= 53))
            {
                <div class="seat seat__A" id="@item.Id">@item.Location</div>
            }
            <div class="seat seat__A seat__Area"></div>
        </div>
    </div>

    <!-- parking lot area D -->
    <div class="row row__D">
        @foreach (var item in Model.ParkingSpaces.Where(p => p.Id >= 54 && p.Id <= 58))
        {
            <div class="seat seat__B" id="@item.Id">@item.Location</div>
        }
        <div class="seat seat__D seat__Area">Area D</div>
    </div>
</div>

<script src="~/js/testOnclick.js"/>